body{
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  margin: 0;
}

.image {
  width: 320px;
  border-radius: 50%;
  margin: 1.5vw 7vw;
  display: inline;
}

.about-tag {
  padding: 5vw;
  padding-bottom: 3vw;
  text-align: center;
  font-family: 'Assistant', sans-serif;
  font-size: 3vw;
  font-weight: thin;
  color: black;
  opacity: 1;
  display: block;
}

.text {
  font-family: 'Assistant', sans-serif;
  font-size: 1.5vw;
  color: black;
  padding: 1vw 5vw;
  text-align: justify;
  overflow: scroll;
}
